body {
    /* Set default font family and font color */
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    color: black;
}

.navbar {
    display: flex; 
    height: 30px;
    width: 100%; 
    background-color: #002351; 
}

.navbar_text {
    font-size: 20px; 
    margin-left: 3%; 
    margin-right: 3%;
    color: white; 
}

.navbar_text_highlighted {
    font-size: 20px; 
    margin-left: 3%; 
    margin-right: 3%;
    color: #5ce1e6;
}

.welcome_message {
    margin-top: 5%; 
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    text-align: center; 
}

.semester_title {
    margin-top: 5%; 
    margin-left: 5%; 
    margin-bottom: 0; 
    font-size: 20px;
    text-align: left; 
    color: #5ce1e6; 
    font-weight: bold;
}

a { 
    /* No hyperlink underline or color */
    text-decoration: none;
    color: inherit;
}

.major_class_options {
    display: inline-block;
    padding: 25px 25px;
    border-radius: 30px;
    background-color: #002351;
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.major_class_options:hover {
    background-color: #004aad;
    font-weight: bold;
    cursor: pointer;
}

.bubbles {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

.class_number {
    font-size: 16px; 
    color: #5ce1e6;
}

.class_title {
    font-size: 16px; 
}